# Introduction to PYthon

In [0]:
print('Rjit Navigators')

Rjit Navigators

## Python Variables

In [0]:
number = 8
print(number)

8

In [0]:
#Assigning a value to a Variable in Python
website = "Rustamji Institute of Technology"
print(website)

Rustamji Institute of Technology

In [0]:
#  Changing the value of a variable
website = "Rustamji Institute of Technology"
print(website)

# assigning a new variable to website
website = "Department of Information Technology"

print(website)

Rustamji Institute of Technology
Department of Information Technology

## Constants

In [0]:
PI=3.14
GRAVITY = 9.8
print(PI)
print(GRAVITY)

3.14
9.8

In [0]:
i = 3.2
j = 2
print(i+j)
print(i-j)
print(i*j)
print(i/j)
print(i//j)
print(i%j)
print(i**j)

5.2
1.2000000000000002
6.4
1.6
1.0
1.2000000000000002
10.240000000000002

In [0]:
x =34
y =72.89
z =2+3j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [0]:
x = 'Rustamji'
y = 'Institute'
print(x)
print(y)

Rustamji
Institute

In [0]:
x= int(2.4)
y= int('4')
print(x)
print(y)

2
4

In [0]:
a = float(23)
b = float('12')
print(a)
print(b)

23.0
12.0

In [0]:
Rustam = str(14)
Salty = str(19.0)
print(Rustam)
print(Salty)

14
19.0

# Type Conversion
### Implicit Type Conversion

In [0]:
num_int = 123
num_flo = 1.23

num_new = num_int + num_flo

print("datatype of num_int:",type(num_int))
print("datatype of num_flo:",type(num_flo))

print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

datatype of num_int: <class 'int'>
datatype of num_flo: <class 'float'>
Value of num_new: 124.23
datatype of num_new: <class 'float'>

### Explicit Type Conversion

In [0]:
a = float(23)
b = float('12')
print(a)
print(b)

In [0]:
num_int = 123
num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str before Type Casting:",type(num_str))

num_str = int(num_str)
print("Data type of num_str after Type Casting:",type(num_str))

num_sum = num_int + num_str

print("Sum of num_int and num_str:",num_sum)
print("Data type of the sum:",type(num_sum))

### Python *output*
print(*objects, sep=' ', end='\n', file=sys.stdout, flush=False)

In [0]:
print(1,2,3,4)
# Output: 1 2 3 4

print(1,2,3,4,sep='*')
# Output: 1*2*3*4

print(1,2,3,4,sep='#',end='&')
# Output: 1#2#3#4&

1 2 3 4
1*2*3*4
1#2#3#4&

## Output Formatting

In [0]:
x = 5; y = 10
print('The value of x is {} and y is {}'.format(x,y))

The value of x is 5 and y is 10

In [0]:
print('I love {0} and {1}'.format('bread','butter'))
# Output: I love bread and butter

print('I love {1} and {0}'.format('bread','butter'))
# Output: I love butter and bread

I love bread and butter
I love butter and bread

## Input

In [0]:
num = input('Enter a number: ')
print(num)

Enter a number: 5
5

# **`**STRING OPERATIONS**`**

In [0]:
str = 'Rjit Navigators'
print(str[0])
print(str[4])

**len() method returns the length of a string**
The lower() method returns the string in lower case**:**
The upper() method returns the string in upper case: **bold text**

In [0]:
str1 = 'Rjit Navigators'
print(len(str1))
print(str1.lower())
print(str1.upper())

15
rjit navigators
RJIT NAVIGATORS

**replace() method replaces the string with another string**

In [0]:
print(str1.replace('R', 'P'))

Pjit Navigators

**The split() method splits the string into substrings if it finds instances of the separator:**

In [0]:
str2 = 'Rjit < Navigators'
print(str2.split('<'))

['Rjit ', ' Navigators']

# Control Flow

## IF - ELSE Statements

In [0]:
a = 200
b = 33
if b > a:
  print("")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [0]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [0]:
#If statement without indentation
a = 33
b = 200
if b > a:
   print("b is greater than a") # you will get an error
else

b is greater than a

## *Question 1*

In [0]:
temp = 120
if temp > 85:
   print("Hot")
elif temp > 100:
   print("REALLY HOT!")
elif temp > 60:
   print("Comfortable") 
else:
   print("Cold")

In [0]:
num = 5
if num > 2:
    print(num)
    num -= 1
print(num)

# While Loop

In [0]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [0]:
n = 10
while True:
  if n<7:
    print('Breaking out of loop')
    break
  print(n)
  n-= 1
print('Outside of loop')

10
9
8
7
Breaking out of loop
Outside of loop

## Question 2

In [0]:
num = 2
while num <= 10:
    print(num)
    num += 2
print("Goodbye!")

## For loop

In [0]:
for n in range(5):
  print(n)

0
1
2
3
4

In [0]:
for n in range(5,8):
  print(n)

### *Syntax for loop*

In [0]:
sum = 0
for i in range(5,11,2):
  sum +=i
print(sum)

21

## Strings and loop

In [0]:
string = 'Rjit Navigators'
for char in string:
  if char == 'i' or char == 'a':
    print('there is an i or e')

there is an i or e
there is an i or e
there is an i or e
there is an i or e

In [0]:
for x in 'Rjit Navigators':
  print(x)

R
j
i
t

N
a
v
i
g
a
t
o
r
s
1

### Break statement

In [0]:
for val in "Navigators":
    if val == "i":
        break
    print(val)

print("The end")

N
a
v
The end

### Continue Statement

In [0]:
for val in "Navigators":
    if val == "i":
        continue
    print(val)

print("The end")

N
a
v
g
a
t
o
r
s
The end

## Question 3

In [0]:
greeting = 'Hello!'
count = 0

for letter in greeting:
    count += 1
    if count % 2 == 0:
        print(letter)
    print(letter)

print('done')

H
e
e
l
l
l
o
!
!
done

## Functions

In [0]:
def fun1():
  name = "Rjit Navigators"
  print('Hello', name)

In [0]:
fun1()

Hello Rjit Navigators

## Passing arguments in function

In [0]:
def my_function(name):
  print(name + " is studying in RJIT")

my_function("Brajkishore")
my_function("Prajapati")

Brajkishore is studying in RJIT
Prajapati is studying in RJIT

In [0]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

## Iterative function

In [0]:
#mult_recur iterative solution
def mult_iter(a,b):
  result = 0
  while b >0:
    result += a
    b -=1
  return result
print(mult_iter(3,4))

In [0]:
#Factorial by iteration
def fact(n):
  result = 1
  for i in range(1, n+1):
    result *=i
  return result
fact(4)

## Recursive function

In [0]:
def mult_recur(a,b):
  if b ==1:
    return a
  else:
    return a + mult_recur(a,b-1)
mult_recur(3,6)

18

In [0]:
# fibonacci series
def fib(x):
  if x ==0 or x==1:
    return 0;
  else:
    return fib(x-1) + fib(x-2)

## Lambda Function

In [0]:
double = lambda x: x * 2
print(double(5))

10