# Python Tuple

1. Tuple is an ordered sequence of elements which can include any different  type of elements.

2. It is immutable cannot change element values.
3. Represented by parenthesis ()

In [0]:
tuple = (1,'Braj',2)
print(tuple)

(1, 'Braj', 2)

 **Indexing**
We can use indexing operator[] to access an element of a tuple where the index starts from 0.

In [1]:
tuple = (1,3,4,6)
tuple[1]

3

In [2]:
tuple[0]

1

**Negative index** - The index -1 refers to the last element of the tuple and -2 second last element.

In [3]:
tuple[-1]

6

**Slicing** - We can access a renge of items in a tuple by using a slicing operator colon ":".

In [0]:
my_tuple = ('r','j', 'i', 't', 'n', 'a', 'v', 'i', 'g', 'a', 't', 'o', 'r', 's')
my_tuple[0:4]

('r', 'j', 'i', 't')

In [0]:
my_tuple[4:-1]

('n', 'a', 'v', 'i', 'g', 'a', 't', 'o', 'r')

In [0]:
init_tuple_a = 'a', 'b'
init_tuple_b = ('a', 'b')

print (init_tuple_a == init_tuple_b)

True

**Swapping tuples**

In [0]:
x= (1,2,3,4)
y=('b','r','a', 'j')
print(x)
print(y)
(x,y) = (y,x)
print(x)
print(y)

(1, 2, 3, 4)
('b', 'r', 'a', 'j')
('b', 'r', 'a', 'j')
(1, 2, 3, 4)

# Python List
* List is a collection which is ordered and changeable. Allows duplicate members.
*  Represented by [ ]
*  List is mutable.


 List indexing starts from 0

In [0]:
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [0]:
# List are mutable
list[1] = 8
print(list)

[1, 8, 3, 4, 5]

**Iterating over a list**

In [0]:
sum = 0
list = [1,2,3,4,5,6]
for i in list:
  sum += i
print(sum)

21

In [0]:
sum = 0
list = [1,2,3,4,5,6]
for i in range(len(list)):
  sum += i
print(sum)

15

In [0]:
sum = 0
list = [1,2,3,4,5,6]
for i in range(len(list)):
  sum += list[i]
print(sum)

21

# List Operations

**1. Adding element at the end of the list**

In [0]:
L1 = [1,2,3,4]
L1.append('r')
print(L1)

[1, 2, 3, 4, 'r']

**2. Adding two list**

In [0]:
L1 = ['R', 'J', 'I', 'T']
L2 = ['N', 'A', 'V', 'I', 'G', 'A', 'T', 'O', 'R']
L3 = L1 + L2
print(L3)

['R', 'J', 'I', 'T', 'N', 'A', 'V', 'I', 'G', 'A', 'T', 'O', 'R']

**3. Extending List**

In [0]:
L1 = ['R', 'J', 'I', 'T']
L2 = ['N', 'A', 'V', 'I', 'G', 'A', 'T', 'O', 'R']
L1.extend(L2)
print(L1)

['R', 'J', 'I', 'T', 'N', 'A', 'V', 'I', 'G', 'A', 'T', 'O', 'R']

**4. Removing an element at the end of the list**

In [0]:
list = [1,2,3,4,5,6,7,8,9]
list.pop()
print(list)

[1, 2, 3, 4, 5, 6, 7, 8]

**5. Removing an element at the specified position of the list**

In [0]:
list.pop(2)
print(list)

[1, 2, 4, 5, 6, 7, 8]

In [0]:
del(list[3])
print(list)

[1, 2, 4, 6, 7, 8]

 **6. Remove an specific element**

In [0]:
list.remove(7)
print(list)

[1, 2, 4, 8]

**7. split operation**
To split a  string we use .split() function

In [0]:
s = 'Rjit<Navigators'
s.split('<')

['Rjit', 'Navigators']

**`8. Join operation`**
Use .join() to convert a list to string

In [0]:
list= ['N', 'A', 'V', 'I', 'G', 'A', 'T', 'O', 'R']
''.join(list)

'NAVIGATOR'

In [0]:
'_'.join(list)

'N_A_V_I_G_A_T_O_R'

**9. Insertion operation**

In [0]:
List = ['Apple', 'Banana', 'Mango']
List.insert(1,'Grapes')
print(List)

['Apple', 'Grapes', 'Banana', 'Mango']
None

**10. Clear operartion**

In [0]:
List.clear()
print(List)

[]

# Python Dictionary

> A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.
A python dictionary stores two pairs of data.
* Key
* Value

In [0]:
thisdict =	{"brand": "Ford", "model": "Mustang", "year": 1964}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [0]:
list = [10, 20,30,40,50]
print(list[::-1])

[50, 40, 30, 20, 10]

In [0]:
thisdict.keys()   # Return all the keys

dict_keys(['brand', 'model', 'year'])

In [0]:
thisdict.values()# Return the values

dict_values(['Ford', 'Mustang', 1964])

In [0]:
thisdict.items() # return the keys and values associated with it

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

## Dictionary operations

**1. Accessing an entry**

In [0]:
thisdict['brand']

'Ford'

In [0]:
thisdict['model']

'Mustang'

**2. Adding an entry**

In [0]:
my_dict = {'Name': 'Brajkisore', 'Branch':'IT', 'Sem':'5th', 'Year': '3rd'}
print(my_dict)

{'Name': 'Brajkisore', 'Branch': 'IT', 'Sem': '5th', 'Year': '3rd'}

In [0]:
my_dict['Roll no'] = '0902IT171017'
print(my_dict)

{'Name': 'Brajkisore', 'Branch': 'IT', 'Sem': '5th', 'Year': '3rd', 'Roll no': '0902IT171017'}

**3. Changing Values**

In [0]:
my_dict['Year'] = '4th'
print(my_dict)

{'Name': 'Brajkisore', 'Branch': 'IT', 'Sem': '5th', 'Year': '4th', 'Roll no': '0902IT171017'}

**4. Deleting an entry**

In [0]:
dict = {1:'Brajkishore', 2:'Adarsh', 3:'Aarif', 4:'Rajan'}
print(dict)
del(dict[2])
print(dict)

{1: 'Brajkishore', 2: 'Adarsh', 3: 'Aarif', 4: 'Rajan'}
{1: 'Brajkishore', 3: 'Aarif', 4: 'Rajan'}

In [0]:
# pop() method is used to delete an entry of the specifeid key name.
dict = {1:'Brajkishore', 2:'Adarsh', 3:'Aarif', 4:'Rajan'}
dict.pop(2)
print(dict)

{1: 'Brajkishore', 3: 'Aarif', 4: 'Rajan'}

In [0]:
thisdict =	{"brand": "Ford", "model": "Mustang", "year": 1964}
print(thisdict)
del(thisdict['model'])
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'year': 1964}

**5. Iterating through a dictionary**

In [0]:
my_dict = {'Name': 'Brajkishore', 'Branch':'Information Technology','Year':'3rd','Sem':'5th'}
for x in my_dict:
  print(x)
  print(my_dict[x])

Name
Brajkishore
Branch
Information Technology
Year
3rd
Sem
5th

In [0]:
for x in my_dict.keys():
  print(x)

Name
Branch
Year
Sem

In [0]:
for x in my_dict.values():
  print(x)

Brajkishore
Information Technology
3rd
5th

In [0]:
for x,y in my_dict.items():
  print(x,y)

Name Brajkishore
Branch Information Technology
Year 3rd
Sem 5th